<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Contact Mapper with Nested Results for Collection -->
<mapper namespace="com.mycompany.mvc.persistence.EmployeesMapper">

    <resultMap id="employeesResultMap" type="Employees">
        <id property="employeeId" column="EMPLOYEE_ID" />
        <result property="firstName" column="FIRST_NAME" />
        <result property="lastName" column="LAST_NAME" />
        <result property="email" column="EMAIL" />
        <result property="phoneNumber" column="PHONE_NUMBER" />
        <result property="hireDate" column="HIRE_DATE" />
        <result property="jobId" column="JOB_ID" />
        <result property="salary" column="SALARY" />
        <result property="commissionPct" column="COMMISSION_PCT" />
        <result property="managerId" column="MANAGER_ID" />
        <result property="departmentId" column="DEPARTMENT_ID" />
    </resultMap>

	<select id="getTotalCount" resultType="int">
		SELECT COUNT(*)
		FROM EMPLOYEES
	</select>
	<select id="getTotalCountAsSearch" parameterType="java.util.HashMap" resultType="int">
		SELECT COUNT(*)
		FROM EMPLOYEES
		WHERE ${searchTarget} LIKE #{searchWord}
	</select>
	
	<select id="getEmployeeList" parameterType="java.util.HashMap" resultMap="employeesResultMap">
	
	SELECT * FROM (
		SELECT ROWNUM AS RNUM, A.* FROM (
			SELECT * FROM EMPLOYEES 
			<if test="searchWord != '' and searchTarget != ''">
				WHERE ${searchTarget} LIKE #{searchWord}
			</if>
			ORDER BY ${sidx} ${sord}
		) A WHERE ROWNUM  <![CDATA[ < ]]> #{endRow}
	) WHERE RNUM <![CDATA[ > ]]> #{startRow}
		
	
	</select>
	
    <select id="findAll" resultMap="employeesResultMap">
		SELECT
		EMPLOYEE_ID,
		FIRST_NAME,
		LAST_NAME,
		EMAIL,
		PHONE_NUMBER,
		HIRE_DATE,
		JOB_ID,
		SALARY,
		COMMISSION_PCT,
		MANAGER_ID,
		DEPARTMENT_ID
		FROM EMPLOYEES
    </select>
    
    <select id="findById" parameterType="int" resultMap="employeesResultMap">
		SELECT
		EMPLOYEE_ID,
		FIRST_NAME,
		LAST_NAME,
		EMAIL,
		PHONE_NUMBER,
		HIRE_DATE,
		JOB_ID,
		SALARY,
		COMMISSION_PCT,
		MANAGER_ID,
		DEPARTMENT_ID
		FROM EMPLOYEES
    	WHERE EMPLOYEE_ID = #{employeeId}
    </select>
    
</mapper>
